<h1>{{title}} Budget Manager</h1>
<ul>
    <li><button class="btn-large grey darken-3"><a href="/createBudget" >Create a budget</a></button></li>
    <li><button class="btn-large grey darken-3"><a href="/budgets" >Review a budget</a></button></li>
    <li><button class="btn-large grey darken-3"><a href="/addEmployee" >Add an employee</a></button></li>
    <li><button class="btn-large grey darken-3"><a href="/employees" >View staff list</a></button></li>
</ul>